blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
chest==0.2.3
click==6.7
cloudpickle==0.2.2
cytoolz==0.8.2
dask==0.14.1
datashape==0.5.4
decorator==4.0.11
entrypoints==0.2.2
Flask==0.12.1
Flask-Cors==3.0.2
h5py==2.7.0
HeapDict==1.0.0
html5lib==0.999
ipykernel==4.6.1
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
llvmlite==0.17.0
locket==0.2.0
MarkupSafe==0.23
mistune==0.7.4
multipledispatch==0.4.9
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
notebook==5.0.0
numba==0.32.0
numexpr==2.6.2
numpy==1.12.1
odo==0.5.0
pandas==0.19.2
pandocfilters==1.4.1
partd==0.3.7
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psutil==5.2.2
ptyprocess==0.5.1
Pygments==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.9
tables==3.3.0
terminado==0.6
testpath==0.3
toolz==0.8.2
tornado==4.4.2
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.1
widgetsnbextension==2.0.0
